* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*----------------------------------*/
/*Nav-bar-Section*/
/*----------------------------------*/

.navigation-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(201, 246, 231, 0.97);
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  border: 1px solid red;
  /* overflow: hidden; */
  z-index: 2;
}

/*----------------------------------*/
/*Search-Section*/
/*----------------------------------*/

.nav-search-container {
  display: inline-flex;
  gap: 30px;
  /* width: 200px; */
  /* margin-left: 100px; */
  padding-bottom: 5px;
  border-bottom: solid 1px gray;
  margin-left: 100px;
}

.search-input {
  border: none;
  outline: none;
  background-color: rgba(201, 246, 231, 0.97);
  color: gray;
}

.fa-solid {
  padding-left: 5px;
}

/*----------------------------------*/
/*Links-Section*/
/*----------------------------------*/

.nav-links-container {
  display: inline-flex;
  gap: 40px;
}

.nav-links-container > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 13px;
}

.nav-links-container > a:hover {
  color: rgb(255, 189, 65);
}

/*----------------------------------*/
/*Heading*/
/*----------------------------------*/
.nav-heading {
  display: inline-flex;
}

.nav-heading > a {
  text-decoration: none;
  color: black;
}

.nav-heading > a :hover {
  color: rgb(255, 189, 65);
}

.nav-heading > a > h2 {
  letter-spacing: 7px;
  font-weight: 600;
}

/*----------------------------------*/
/*Information-container*/
/*----------------------------------*/

.nav-info-container {
  display: inline-flex;
  gap: 50px;
}

.nav-info-container > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 13px;
}

.nav-info-container > a:hover {
  color: rgb(255, 189, 65);
}

/*----------------------------------*/
/*Icons-container*/
/*----------------------------------*/

.nav-icons-container {
  display: inline-flex;
  gap: 30px;
  margin-right: 100px;
}

.nav-options-container {
  display: none;
}

/*----------------------------------*/
/*SECTION-1*/
/*----------------------------------*/
.section-1 {
  width: 100%;
  border: 1px solid green;
  /* height: 500px; */
  background: rgba(201, 246, 231, 0.97);

  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  /* position: relative;
  top: 80px; */
  margin-top: 80px;
  justify-content: center;
}

.section-1-section-1-1 {
  display: grid;
  gap: 80px;
  justify-self: end;
}

.section-1-section-1-2 {
  margin-left: 40px;
}

.section-1-text-1 {
  height: 40px;
  padding-top: 5px;
  font-size: 13px;
  font-weight: 600;
  color: gray;
  border-left: solid 2px black;
}

.section-1-text-2 {
  font-size: 2em;
  letter-spacing: 4px;
  font-weight: 600;
}

/*----------------------------------*/
/*Section-1-button*/
/*----------------------------------*/

.section-1-button > a > button {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
  color: black;
  background: rgba(201, 246, 231, 0.97);
  transition: all 0.3s linear;

  /* background-color: red; */
}

/* .section-1-button > button :hover {
  outline: none;
} */

.section-1-button > a > button:hover {
  color: white;
  outline: none;
  background: rgb(255, 189, 65);
}

/*----------------------------------*/
/*Section-1-Image*/
/*----------------------------------*/

.section-1-image > img {
  height: 500px;
  width: 400px;
}

/*----------------------------------*/
/*Section-2*/
/*----------------------------------*/

.section-2 {
  width: 100%;
  border: 2px solid yellow;
}

.section-2-text-1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 50px;
}

.section-2-text-1 > h1 {
  letter-spacing: 2px;
}

.section-2-image {
  height: 150px;
  width: 150px;
  z-index: 0;
}

.section-2-img-container {
  text-align: center;
}

.section-2-img-container:hover {
  transform: scale(1.1);
}

.section-2-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}

/*----------------------------------*/
/*Section-3
/*----------------------------------*/

.section-3 {
  width: 100%;
  height: 150px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  /* border: 1px solid hotpink; */
}

.section-3-text-1 {
  position: relative;
  top: 40px;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  padding: 20px 5px;
}

.section-3-text-1 > h3 {
  font-size: 25px;
  letter-spacing: 7px;
}

.section-3-text-1 > p {
  font-size: 10px;
  letter-spacing: 5px;
}

.section-3-empty-container {
  border-bottom: 1px solid black;
}

/*----------------------------------*/
/*Section-4
/*----------------------------------*/

.section-4 {
  width: 100%;
  border: 1px solid blue;
  margin-bottom: 20px;
}

.section-4-text-1 {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  line-height: 30px;
}

.section-4-text-1 > p {
  font-family: "Playwrite CU", cursive;
}

.section-4-button {
  margin: 50px 0;
  display: inline-block;
}

.section-4-button > button {
  padding: 10px 20px;

  text-decoration: none;
  color: black;
  background-color: white;
  transition: all 0.3s linear;
}

.section-4-button > button:hover {
  color: white;
  background: rgb(255, 189, 65);
}

/*----------------------------------*/
/*Section-5
/*----------------------------------*/

.section-5 {
  width: 100%;
  border: 1px solid rgb(255, 4, 171);
  margin: 50px 0;
  text-align: center;
}

.section-5-text-1 {
  line-height: 40px;
}

.section-5-text-1 > h2 {
  word-spacing: 10px;
  letter-spacing: 10px;
}

/*----------------------------------*/
/*Section-6
/*----------------------------------*/

.section-6 {
  width: 100%;
}

.section-6-images-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-template-areas:
    "a b c"
    "a d e";
}

.section-6-img-container {
  text-align: center;
  margin: 30px 30px;
}

.section-6-image {
  width: 400px;
  height: 300px;
}

.section-6 .container-1 {
  grid-area: a;
}

.section-6 .container-2 {
  grid-area: b;
}

.section-6 .container-3 {
  grid-area: c;
}

.section-6 .container-4 {
  grid-area: d;
}

.section-6 .container-5 {
  grid-area: e;
}

.section-6 .container-1 > img {
  height: 86.1%;
}

/*----------------------------------*/
/*Media Queries*/
/*----------------------------------*/
@media only screen and (max-width: 800px) {
  .nav-search-container {
    display: none;
  }

  .nav-links-container {
    display: none;
  }

  .nav-info-container {
    display: none;
  }

  .nav-icons-container {
    display: none;
  }

  .navigation-bar {
    justify-content: space-around;
  }

  .nav-options-container {
    display: inline-flex;
    /* margin-right: 50px; */
  }

  /* .nav-heading {
    margin-left: 10px;
  } */
}

@media only screen and (max-width: 800px) {
  .section-1-image > img {
    height: 400px;
    width: 300px;
  }
  .section-1-section-1-1 {
    margin-top: 30px;
    grid-area: a;
    justify-self: center;
  }

  .section-1-section-1-2 {
    grid-area: b;
    justify-self: center;
    margin: 0;
  }

  .section-1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b";
    gap: 30px;
    width: 100%;
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .section-4-text-1 {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .section-6-images-container {
    width: 100%;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
    justify-content: center;
  }

  .section-6-img-container {
    margin: 30px 30px;
  }

  .section-6-img-container > img {
    height: 300px;
    width: 400px;
  }
  .section-6-images-container > .container-1 > img {
    height: 300px;
    width: 400px;
  }

  .section-6-images-container > .container-1 {
    justify-self: center;
  }

  .section-6-images-container > .container-2 {
    justify-self: center;
  }

  .section-6-images-container > .container-3 {
    justify-self: center;
  }

  .section-6-images-container > .container-4 {
    justify-self: center;
  }

  .section-6-images-container > .container-5 {
    justify-self: center;
  }
}

/*----------------------------------*/

/*----------------------------------*/
